<section id="red" class="w-full bg-gray-100 py-10">
  <div class="container mx-auto grid grid-cols-1 sm:grid-cols-3 gap-60 justify-center items-center">
    <div class="text-center text-sky-900">
        <div class="text-[32px] font-bold font-inter leading-[50px]">3</div>
        <div class="text-lg font-normal font-inter leading-loose">Miembros</div>
    </div>

    <div class="text-center text-sky-900">
        <div class="text-[32px] font-bold font-inter leading-[50px]">5</div>
        <div class="text-lg font-normal font-inter leading-loose whitespace-nowrap">Líneas estratégicas</div>
    </div>

    <div class="text-center text-sky-900">
      <div class="text-[32px] font-bold font-inter leading-[50px]">{{ visitCount }}</div>
      <div class="text-lg font-normal font-inter leading-loose">Visitas</div>
    </div>
  </div>
</section>
