<section id="projects" class="w-full bg-gray-100 py-10">
  <div class="container mx-auto">
    <div class="text-center text-sky-900 text-2xl font-bold mb-6 cursor-pointer" [routerLink]="['/project-list']">
      Proyectos
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <div *ngFor="let project of recentProjects" class="relative mb-16 overflow-visible">
        <div class="w-full h-64 bg-cover bg-center rounded-t-lg" [ngStyle]="{'background-image': 'url(' + project.image + ')'}"></div>
        <div class="absolute left-4 right-4 bottom-0 transform translate-y-1/2 bg-white bg-opacity-75 p-4 rounded-lg shadow-md z-10">
          <div class="text-sky-950 text-lg font-medium mb-2 text-center">
            {{ project.title }}
          </div>
          <div class="text-cyan-700 text-base font-medium mt-2 text-center">
            <a [routerLink]="['/project-detail', project.id]">Leer más <i class="fa-solid fa-arrow-right ml-2"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
