/* CSS personalizado */
@media (max-width: 639px) {
    .header {
        padding: 20px; /* Añade un poco de espacio alrededor del encabezado en dispositivos móviles */
    }
    .header > img {
        margin-bottom: 10px; /* Añade un poco de espacio entre el logotipo y los enlaces en dispositivos móviles */
    }
    .header > .flex {
        margin-top: 10px; /* Añade un poco de espacio entre los enlaces y el botón en dispositivos móviles */
    }
}

/* CSS para el menú desplegable en dispositivos móviles */
@media (max-width: 1023px) {
    #mobileMenuButton:focus + #mobileMenu {
      display: flex;
    }
}

.border-b-gradient {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, #FFA500, #088395, #003355);
    z-index: -1;
  }
  
  /* Transición del color del borde inferior */
  .header {
    position: relative;
  }
  
  .header:hover .border-b-gradient {
    animation: moveGradient 2s linear infinite;
  }
  
  @keyframes moveGradient {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }