<div class="w-full h-[100px] relative flex flex-col lg:flex-row items-center justify-between px-4">
    <img class="w-[75px] h-[71px] lg:ml-10 mb-4 lg:mb-0" src="./assets/images/multicolor_logo.svg" />
    
    <div class="flex items-center space-x-12 lg:space-x-12 font-inter text-center lg:text-left">
        <a href="#inicio" class="border-b border-amber-500 flex items-center gap-0.5 hover:border-b hover:border-amber-500 active:border-amber-500">
            <div class="text-amber-500 text-base font-medium font-inter leading-relaxed hover:text-amber-500">Inicio</div>
        </a>
        <a href="#red" class="flex items-center gap-0.5 hover:border-b hover:border-amber-500">
            <div class="text-sky-950 text-base font-medium font-inter leading-relaxed hover:text-amber-500">RED</div>
        </a>
        <a href="#linea-estrategicas" class="flex items-center gap-0.5 hover:border-b hover:border-amber-500">
            <div class="text-sky-950 text-base font-medium font-inter leading-relaxed hover:text-amber-500">Línea Estratégicas</div>
        </a>
        <a href="#proyectos" class="flex items-center gap-0.5 hover:border-b hover:border-amber-500">
            <div class="text-sky-950 text-base font-medium font-inter leading-relaxed hover:text-amber-500">Proyectos</div>
        </a>
        <a href="#noticias" class="flex items-center gap-0.5 hover:border-b hover:border-amber-500">
            <div class="text-sky-950 text-base font-medium font-inter leading-relaxed hover:text-amber-500">Noticias</div>
        </a>
    </div>
    
    <div routerLink="/login"  class="inline-flex items-center">
        <button class="px-[27px] py-2.5 bg-rieu-yellow rounded-[5px] shadow">
            <div class="text-center text-sky-950 text-base font-medium font-inter leading-normal">Quiero ser parte</div>
        </button>
    </div>
</div>
