<section class="w-full bg-white pt-10 pb-10 px-6">
  <div class="container mx-auto text-center relative">
    <!-- Contenedor del título -->
    <div class="title-container mb-6">
      <div class="texto text-2xl font-bold">
        Objetivos
      </div>
    </div>

    <!-- Contenedor de objetivos y líneas de conexión -->
    <div class="objectives-container relative">
      <!-- Imagen de conexión para la primera fila -->
      <div class="connector-line-container connector-line-top">
        <img src="../../../../assets/images/Connector line.png" alt="Línea de conexión" class="connector-line">
        <img src="../../../../assets/images/Connector line.png" alt="Línea de conexión" class="connector-line">
      </div>

      <div class="relative grid grid-cols-1 md:grid-cols-3 gap-6 mt-16">
        <!-- Primera fila -->
        <div class="objective-box border-green relative z-10">
          <p>
            Generar y compartir conocimiento y prácticas en torno a la innovación educativa universitaria que pueda servir de base para la mejora continua de la educación.
          </p>
        </div>
        <div class="objective-box border-blue relative z-10">
          <p>
            Diseñar, registrar y difundir modelos, herramientas, estrategias y materiales educativos que propendan mejoras en los procesos educativos en tercer y cuarto nivel.
          </p>
        </div>
        <div class="objective-box border-orange relative z-10">
          <p>
            Promover alianzas con el sector público, privado y organizaciones sociales e internacionales, para generar espacios y metodologías dentro de las diferentes modalidades de formación.
          </p>
        </div>
      </div>

      <!-- Imagen de conexión para la segunda fila -->
      <div class="connector-line-container connector-line-bottom">
        <img src="../../../../assets/images/Connector line.png" alt="Línea de conexión" class="connector-line">
        <img src="../../../../assets/images/Connector line.png" alt="Línea de conexión" class="connector-line">
      </div>

      <div class="relative grid grid-cols-1 md:grid-cols-3 gap-6 mt-16">
        <!-- Segunda fila -->
        <div class="objective-box border-orange relative z-10">
          <p>
            Acompañar y sostener propuestas innovadoras que se desarrollen dentro de las universidades parte de la red, así como otras instituciones aliadas.
          </p>
        </div>
        <div class="objective-box border-green relative z-10">
          <p>
            Transferir resultados de investigación pertinentes con las necesidades sociales para su implementación.
          </p>
        </div>
        <div class="objective-box border-blue relative z-10">
          <p>
            Promover espacios para comunicar resultados y analizar prospectivas sobre la innovación educativa.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
