<app-landing-sidenav></app-landing-sidenav>
<div>
  <div *ngIf="news" class=" bg-zinc-100 relative">
    <img *ngIf="news.image" [src]="news.image" alt="News Image" class="w-full h-[497px] object-cover object-center">
    
    <button routerLink="/lnews-list" class="absolute top-4 left-4 z-10 flex items-center px-4 py-2 bg-white text-sky-950 font-medium rounded shadow-md border border-gray-200 hover:bg-gray-100 transition duration-300">
      <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
      </svg>
      <span class="hidden lg:inline">Regresar</span>
    </button>
      <!-- Contenedor del recuadro de noticias -->
    <div class="absolute -mt-28 left-0 right-0 mx-auto max-w-[1000px] bg-zinc-100 shadow-2xl p-8 top-4/5 border-l-4">
      <div class="mb-4 text-sky-950 text-2xl font-semibold">{{ news.title }}</div>
        <div class="text-stone-600 text-opacity-70 text-base font-normal mb-4">
          Publicado el {{ new?.formattedDate | titlecase }}
        </div>
  
        <!-- Contenido de la noticia -->
      <div [innerHTML]="formattedContent"></div>
    </div>
    <img src="./assets/images/Group 17.svg" alt="Fondo SVG" class="w-full h-auto absolute z-[-1]" />
  </div>
</div>