
<div class="relative mt-10">
    <div class="text-center text-rieu-blue text-[32px] font-bold font-Inter" [routerLink]="['/lnews-list']" style="cursor: pointer;">Noticias Recientes</div>

    <div class="flex justify-center mt-10">
        <!-- *ngFor limitado a 3 tarjetas -->
        <div *ngFor="let news of recentNews" class="w-[370px] h-[105px] relative mx-8 my-4">
            <div class="w-full h-full absolute bg-white rounded-[10px] shadow-lg border-2 border-gray-300 overflow-hidden">
            </div>
            <div class="w-[105px] h-[105px] left-0 top-0 absolute bg-white rounded-tl-[10px] rounded-bl-[10px] overflow-hidden">
                <img class="w-full h-full top-0 absolute object-cover" [src]="news.image" alt="{{ news.title }}" />
            </div>
            <div class="w-[234px] left-[119px] top-[14px] absolute text-zinc-600 text-sm font-normal font-Inter leading-snug">{{ news.truncatedTitle }}</div>
            <div class="py-2.5 left-[126.50px] top-[58px] absolute rounded-[5px] justify-start items-start gap-2.5 inline-flex">
                <div class="text-center text-cyan-700 text-base font-medium font-Inter leading-normal">
                    <a [routerLink]="['/news-detail', news.id]">Leer más</a>
                </div>
            </div>
        </div>
    </div>
</div>
