<app-landing-sidenav></app-landing-sidenav>

<section id="inico">
  <app-landing-welcome></app-landing-welcome>
</section>

<section id="noticias">
  <app-landing-news></app-landing-news>
</section>

<section class="w-full bg-white relative dark:bg-black z-10 pt-[100px] px-20 pb-[52px] wow fadeInUp">
  <div class="container mx-auto text-center space-y-8">
    <div class="text-center text-rieu-blue text-2xl font-bold mb-6">
      Objetivos
    </div>
    <div class="max-w-[510px] mx-auto mb-[70px]" data-aos="fade-up" data-aos-delay="200">
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
      <div class="bg-rieu-blue dark:bg-gray-200 border border-gray-200 rounded-2xl py-6 px-6" data-aos="fade-right"
        data-aos-delay="300">
        <h3 class="font-bold text-3xl sm:text-4xl lg:text-3xl xl:text-4xl text-white dark:text-white mb-4">
          Generar y compartir conocimiento y prácticas en torno a la innovación educativa universitaria que pueda servir de base para la mejora continua de la educación.          </h3>
      </div>
      <div class="bg-rieu-blue dark:bg-gray-200 border border-gray-200 rounded-2xl py-6 px-6" data-aos="fade-left"
        data-aos-delay="400">
        <h3 class="font-bold text-xl sm:text-2xl lg:text-xl xl:text-2xl text-white dark:text-white mb-4">
          Acompañar y sostener propuestas innovadoras que se desarrollen dentro de las universidades parte de la red, así como otras instituciones aliadas.          </h3>
      </div>
      <div class="bg-rieu-blue dark:bg-gray-200 border border-gray-200 rounded-2xl py-6 px-6" data-aos="fade-right"
        data-aos-delay="500">
        <h3 class="font-bold text-xl sm:text-2xl lg:text-xl xl:text-2xl text-white dark:text-white mb-4">
          Diseñar, registrar y difundir modelos, herramientas, estrategias y materiales educativos que propendan mejoras en los procesos educativos en tercer y cuarto nivel.          </h3>
      </div>
      <div class="bg-rieu-blue dark:bg-gray-2000 border border-gray-200 rounded-2xl py-6 px-6" data-aos="fade-left"
        data-aos-delay="600">
        <h3 class="font-bold text-xl sm:text-2xl lg:text-xl xl:text-2xl text-white dark:text-white mb-4">
          Transferir resultados de investigación pertinentes con las necesidades sociales para su implementación.          </h3>
      </div>
      <div class="bg-rieu-blue dark:bg-gray-200 border border-gray-200 rounded-2xl py-6 px-6" data-aos="fade-right"
        data-aos-delay="700">
        <h3 class="font-bold text-xl sm:text-2xl lg:text-xl xl:text-2xl text-white dark:text-white mb-4">
          Promover alianzas con el sector público, privado y organizaciones sociales e internacionales, para generar espacios y metodologías dentro de las diferentes modalidades de formación.          </h3>
      </div>
      <div class="bg-rieu-blue dark:bg-gray-200 border border-gray-200 rounded-2xl py-6 px-6" data-aos="fade-right"
      data-aos-delay="700">
      <h3 class="font-bold text-xl sm:text-2xl lg:text-xl xl:text-2xl text-white dark:text-white mb-4">
        Promover espacios para comunicar resultados y analizar prospectivas sobre la innovación educativa.        </h3>
    </div>
    </div>
  </div>
</section>

<section id="linea-estrategicas">
  <app-landing-strategic-lines></app-landing-strategic-lines>
</section>

<section id="red">
  <div class="w-full h-auto relative mt-20 grid grid-cols-3 gap-4 justify-center items-center">

    <div class="text-center text-sky-900">
        <div class="text-[32px] font-bold font-inter leading-[50px]">3</div>
        <div class="text-lg font-normal font-inter leading-loose">Miembros</div>
    </div>

    <div class="text-center text-sky-900">
        <div class="text-[32px] font-bold font-inter leading-[50px]">5</div>
        <div class="text-lg font-normal font-inter leading-loose whitespace-nowrap">Líneas estratégicas</div>
    </div>

    <div class="text-center text-sky-900">
      <div class="text-[32px] font-bold font-inter leading-[50px]">{{ visitCount }}</div>
      <div class="text-lg font-normal font-inter leading-loose">Visitas</div>
    </div>
</div>

</section>
<div class="bg-gray-200 py-8 sm:py-16 md:py-[50px] flex justify-center items-center relative z-10 wow fadeInUp" data-wow-delay=".2s">
  <div>
    <div class="text-center text-rieu-blue text-2xl font-bold mb-6">
      Organizado por
    </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-30 justify-center">
          <a href="" target="_blank" rel="nofollow noreferrer" class="p-2 sm:p-4 md:p-[10px] flex items-center justify-center max-w-[80px] sm:max-w-[120px] md:max-w-[160px] py-2 sm:py-4 md:py-[15px] transition">
              <img src="assets/images/image 19.png" alt="UTPL" data-aos="bounce" data-aos-delay="200" />
          </a>
          <a href="" target="_blank" rel="nofollow noreferrer" class="p-2 sm:p-4 md:p-[10px] flex items-center justify-center max-w-[80px] sm:max-w-[120px] md:max-w-[160px] py-2 sm:py-4 md:py-[15px] transition">
              <img src="assets/images/image 20.png" alt="Mintel" data-aos="bounce" data-aos-delay="400" />
          </a>
          <a href="" target="_blank" rel="nofollow noreferrer" class="p-2 sm:p-4 md:p-[10px] flex items-center justify-center max-w-[80px] sm:max-w-[120px] md:max-w-[160px] py-2 sm:py-4 md:py-[15px] transition">
              <img src="assets/images/image 21.png" alt="LiiD UTPL" data-aos="bounce" data-aos-delay="800" />
          </a>
      </div>
  </div>
</div>

<section id="proyectos">
  <app-landing-projects></app-landing-projects>
</section>

<app-landing-footer></app-landing-footer>