<app-landing-sidenav></app-landing-sidenav>

<section id="inico">
  <app-landing-welcome></app-landing-welcome>
</section>

<section id="noticias">
  <app-landing-news></app-landing-news>
</section>

<section id="image-section" class="w-full h-auto mt-20">
  <img src="./assets/images/objetivo, mis, vis.svg" class="w-full h-auto" alt="Objetivo, misión y visión">
</section>

<section id="linea-estrategicas">
  <app-landing-strategic-lines></app-landing-strategic-lines>
</section>

<section id="red">
  <div class="w-full h-auto relative mt-20 grid grid-cols-3 gap-4 justify-center items-center">

    <div class="text-center text-sky-900">
        <div class="text-[32px] font-bold font-inter leading-[50px]">3</div>
        <div class="text-lg font-normal font-inter leading-loose">Miembros</div>
    </div>

    <div class="text-center text-sky-900">
        <div class="text-[32px] font-bold font-inter leading-[50px]">5</div>
        <div class="text-lg font-normal font-inter leading-loose whitespace-nowrap">Líneas estratégicas</div>
    </div>

    <div class="text-center text-sky-900">
      <div class="text-[32px] font-bold font-inter leading-[50px]">{{ visitCount }}</div>
      <div class="text-lg font-normal font-inter leading-loose">Visitas</div>
    </div>
</div>

</section>
<div class="bg-gradient-to-b md:h-2/5 from-gray-200 to-white py-8 sm:py-16 md:py-[40px] flex justify-center items-center relative z-10 wow fadeInUp" data-wow-delay=".2s">
  <div>
      <h2 class="font-bold text-2xl text-center mb-6">Organizado por:</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-30 justify-center">
          <a href="" target="_blank" rel="nofollow noreferrer" class="p-2 sm:p-4 md:p-[10px] flex items-center justify-center max-w-[80px] sm:max-w-[120px] md:max-w-[160px] py-2 sm:py-4 md:py-[15px] transition">
              <img src="assets/images/image 19.png" alt="UTPL" data-aos="bounce" data-aos-delay="200" />
          </a>
          <a href="" target="_blank" rel="nofollow noreferrer" class="p-2 sm:p-4 md:p-[10px] flex items-center justify-center max-w-[80px] sm:max-w-[120px] md:max-w-[160px] py-2 sm:py-4 md:py-[15px] transition">
              <img src="assets/images/image 20.png" alt="Mintel" data-aos="bounce" data-aos-delay="400" />
          </a>
          <a href="" target="_blank" rel="nofollow noreferrer" class="p-2 sm:p-4 md:p-[10px] flex items-center justify-center max-w-[80px] sm:max-w-[120px] md:max-w-[160px] py-2 sm:py-4 md:py-[15px] transition">
              <img src="assets/images/image 21.png" alt="LiiD UTPL" data-aos="bounce" data-aos-delay="800" />
          </a>
      </div>
  </div>
</div>

<section id="proyectos">
  <app-landing-projects></app-landing-projects>
</section>

<app-landing-footer></app-landing-footer>