<div class="w-full h-auto mt-10 relative">
    <img src="./assets/images/welcome_bg.svg" class="w-full h-auto hidden md:block" alt="Inicio fondo">

    <div class="absolute left-[5%] md:left-[252px] top-[67px] flex-col justify-start items-start gap-6 inline-flex">
        <div class="text-rieu-cyan text-xl md:text-5xl font-bold font-inter leading-[40px] mt-6 mb-2 md:mb-4">
            Red de Innovación <br>
            Educativa Universitaria
        </div>
        <div class="container">
            <div class="text-rieu-blue text-base md:text-lg font-normal font-inter leading-loose">
              <p class="mb-4">
                ¡Descubre la Red de Innovación Educativa Universitaria (RIEU)! Un espacio de colaboración entre universidades comprometidas con la excelencia académica y el desarrollo sostenible. Trabajamos para generar, compartir y aplicar conocimiento e innovación en la educación, promoviendo valores como la responsabilidad, el respeto y la equidad. ¡Únete a nosotros y sé parte del cambio en la educación!
              </p>
            </div>
          </div>    
    </div>

    <div class="w-full text-center md:absolute md:bottom-0 hidden md:block">
        <div class="text-rieu-blue text-lg md:text-xl font-medium font-inter uppercase underline underline-offset-4">
            ALIANZA PARA UNA EDUCACIÓN QUE TRANSFORMA
        </div>
    </div>
</div>
