<div class="w-full h-[381px] relative bg-sky-950 bottom-0">
    <!-- Otro contenido que puedas tener en el contenedor -->
    <img class="absolute bottom-36 left-32 w[270] h-[90px]" src="./assets/images/white_full_logo.svg" alt="RIEU LOGO">
    
    <div class="absolute top-11 left-[792px] transform -translate-x-1/2 -translate-y-1/2 text-white text-2xl font-normal font-['Secular One']">
        Enlaces de Interés
    </div>
    <ul class="absolute top-40 left-[735px] transform -translate-x-1/2 -translate-y-1/2 mt-4 list-none p-0">
        <!-- Enlace 1 - UTPL -->
        <li class="flex items-center mt-2">
            <img src="./assets/images/UTPL.svg" alt="Enlace 1" class="w-10 h-10">
            <a href="https://www.utpl.edu.ec" target="_blank" class="text-white ml-2">UTPL</a>
        </li>

        <!-- Enlace 2 - UPS -->
        <li class="flex items-center mt-4">
            <img src="./assets/images/UPS.svg" alt="Enlace 2" class="w-10 h-10">
            <a href="https://www.ups.edu.ec" target="_blank" class="text-white ml-2">UPS</a>
        </li>

        <!-- Enlace 3 - PUSE -->
        <li class="flex items-center mt-4">
            <img src="./assets/images/PUSE.svg" alt="Enlace 3" class="w-10 h-10">
            <a href="https://www.puce.edu.ec" target="_blank" class="text-white ml-2">PUCE</a>
        </li>
    </ul>

    <div class="absolute bottom-60 right-28 items-start gap-2.5 inline-flex text-white text-2xl font-normal font-['Secular One']">
        Redes Sociales
    </div>


    <!-- Bloque Redes Sociales a la derecha -->
    <div class="absolute bottom-44 right-16 items-start gap-2.5 inline-flex">
        <!-- Instagram -->
        <div class="w-12 h-12 relative">
            <a href="https://www.instagram.com/" target="_blank">
                <img src="./assets/images/Instagram.svg" class="w-10 h-10 left-4 top-4 absolute" alt="Instagram">
            </a>
        </div>
        
        <!-- Twitter -->
        <div class="w-12 h-12 relative">
            <a href="https://twitter.com/" target="_blank">
                <img src="./assets/images/Twitter.svg" class="w-10 h-10 left-4 top-4 absolute" alt="Twitter">
            </a>
        </div>
        
        <!-- LinkedIn -->
        <div class="w-12 h-12 relative">
            <a href="https://www.linkedin.com/" target="_blank">
                <img src="./assets/images/Linkedin.svg" class="w-10 h-10 left-4 top-4 absolute" alt="LinkedIn">
            </a>
        </div>
        
        <!-- Facebook -->
        <div class="w-12 h-12 relative">
            <a href="https://www.facebook.com/" target="_blank">
                <img src="./assets/images/Facebook.svg" class="w-10 h-10 left-4 top-4 absolute" alt="Facebook">
            </a>
        </div>
        
        <!-- YouTube -->
        <div class="w-12 h-12 relative">
            <a href="https://www.youtube.com/" target="_blank">
                <img src="./assets/images/YouTube.svg" class="w-10 h-10 left-4 top-4 absolute" alt="YouTube">
            </a>
        </div>
    </div>    
    
    <div class="absolute bottom-10 left-1/2 transform -translate-x-1/2 text-white text-base font-normal font-['Inter'] leading-12">
        Copyright 2023 | Laboratorio de investigación e innovación Docente
    </div>
</div>
