<section>
    <app-landing-sidenav></app-landing-sidenav>
  </section>
  
  <section>
    <div class="text-center text-rieu-blue text-2xl font-bold" [routerLink]="['/lnews-list']" style="cursor: pointer;">Noticias</div>
    <img src="./assets/images/le_bg.svg" alt="Fondo SVG" class="w-full h-auto absolute z-[-1]" />
    <div class="px-20 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8 mt-20">
      <div *ngFor="let news of newsList" class="flex flex-col md:flex-row bg-white rounded-lg shadow-lg overflow-hidden relative">
        <div class="w-full md:w-1/2 p-4 flex items-center justify-center">
          <img [src]="news.image" [alt]="news.title" class="object-cover h-60 w-full">
        </div>
        <div class="md:w-1/2 p-6 relative mb-4">
          <h2 class="text-xl font-roboto-condensed font-bold text-rieu-blue mb-2">{{ news.title }}</h2>
          <a [routerLink]="['/news-detail', news.id]"
            class="bg-cyan-600 hover:bg-cyan-700 text-white font-bold py-3 px-6 rounded absolute bottom-0 left-0 ml-4">Leer
            más</a>
        </div>
      </div>
    </div>
  </section>
